<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Articles</title>
    </head>
    <body>
        <h1>Articles</h1>
        <h2> <%= @articles.count%> available </h2>
            <%@articles.each do |article| %>
                <p><%=article.title%></p>
            <%end%>



    </body>
</html>